body {
  font-family: "Segoe UI", "Arial", sans-serif;
}

#page-title {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  border-bottom: 2px solid #CCC;
  padding: 10px 0;
}

#main-btn-wrapper {
  text-align: center;
  margin: 1em 0;
}

.day-sep {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}

.day-sep::before, .day-sep::after {
  content: "";
  display: inline-block;
  width: calc(50% - 200px);
  margin: 0 8px;
  height: 2px;
  transform: translateY(-6px);
  background: #000;
}

.entry {
  max-width: 500px;
  min-height: 200px;
  border: 2px #1E90FF solid;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 20px 15px 40px 65px;
  position: relative;
}

.entry-time {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  padding: 8px;
  min-width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 18px 0 12px 0;
  background: #1E90FF;
  color: #FFF;
}

.entry-att {
  font-size: 30px;
  margin-top: 30px;
  width: 200px;
  word-wrap: break-word;
}

.entry-city {
  font-size: 16px;
  width: 200px;
  word-wrap: break-word;
}

.entry-journal {
  font-size: 18px;
  color: #888;
  margin-top: 20px;
  width: 200px;
  word-wrap: break-word;
}

.entry-journal::before {
  content: "My Thoughts";
  display: block;
  color: #333;
  font-style: italic;
}

.entry-edit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  padding: 8px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 0 18px 0 0;
  background: #1E90FF;
  color: #FFF;
  opacity: 0;
  transition: opacity 200ms;
}

.entry:hover .entry-edit, .entry:hover .entry-delete {
  opacity: 1;
  transition: opacity 200ms;
}

.entry-edit:hover {
  background: #1872cc;
}

.entry-edit:active {
  background: #114f8d;
}

.entry-edit::after {
  content: "\270E";
  font-size: 24px;
  display: inline-block;
  transform: scale(-1, 1);
}

.entry-delete {
  position: absolute;
  top: 0;
  right: 42px;
  font-size: 20px;
  padding: 8px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 0 0 0 12px;
  background: #808080;
  color: #FFF;
  opacity: 0;
  transition: opacity 200ms;
}

.entry-delete:hover {
  background: #C00;
}

.entry-delete:active {
  background: #A00;
}

.entry-delete::after {
  content: "\1F5D1";
  font-size: 24px;
  display: inline-block;
  transform: scale(-1, 1);
}

.entry-deleting {
  transform: scale(0, 0) rotate(180deg);
  transition: transform 500ms;
}

.day-sep-deleting {
  opacity: 0;
  transition: opacity 500ms;
}

#empty-msg {
  font-size: 30px;
  color: #CCC;
  font-style: italic;
  text-align: center;
  margin-top: 50px;
}

dialog {
  width: 400px;
  height: 500px;
  background: #FFF;
  border: 2px solid #CCC;
  border-radius: 20px;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.diag-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.diag-input {
  font-size: 20px;
  margin-top: 10px;
}

.diag-input span {
  display: inline-block;
  min-width: 100px;
}

dialog input, dialog textarea {
  padding: 10px;
  width: 260px;
  font: 20px "Segoe UI", "Arial", sans-serif;
}

dialog textarea {
  width: 367px;
  height: 80px;
  resize: none;
  margin-top: 8px;
}

#diag-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0 18px 0 4px;
  background: transparent;
  color: #000;
  text-align: center;
  line-height: 40px;
  user-select: none;
}

#diag-close:hover {
  color: #A00;
  background: #0002;
}

#diag-close:active {
  color: #A00;
  background: #0004;
}

.btn {
  background: #EEE;
  color: #000;
  border: 2px solid #CCC;
  border-radius: 20px;
  min-width: 150px;
  height: 40px;
  padding: 5px;
  font: 16px "Segoe UI", "Arial", sans-serif;
}
.btn:hover {
  background: #DDD;
}
.btn:active {
  background: #CDCDCD;
  transform: scale(0.95);
}

.btn-blue {
  background: #1E90FF;
  color: #FFF;
  border: 2px solid #1080F0;
}

.btn-blue:hover {
  background: #1872cc;
}

.btn-blue:active {
  background: #114f8d;
}